<%- include("partials/header")%>

<link rel="stylesheet" href="/stylesheets/home.css">

<%- include("partials/nav")%>

<div class="main ">
    <div class="left">


<img src="https://images.unsplash.com/photo-1627850604058-52e40de1b847?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2073&q=80" width="60%" alt="">

    </div>

<div class="right ">
<h1>Todo List</h1>
<p>As its name implies, the To-do list on an article's talk page shows the list of improvements suggested for the article. It is created and formatted using the {{To do}} template. The list is maintained by editors, writers, reviewers or readers like you as a way to focus your collaborative efforts. As such, they represent a tentative consensus that helps improve the efficiency of the editing process. </p>

<button class="btn1 btn btn-primary px-4"><a class="text-decoration-none text-white" href="/create">Create Tasks</a></button>

<button class="btn2 btn btn-danger px-4"> <a class="text-decoration-none text-white" href="/Tasks">Pending Tasks</a></button>
  


</div>

</div>

<%- include("partials/footer")%>